@font-face {
    font-family: DSDigital;
    src: url("./fonts/DS-DIGI.TTF");
}

.content {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url("./Image/background.jpg");
    background-size: cover;
    background-color: royalblue;
}

/* Taskbar */
.taskbar {
    bottom: 10px;
    left: calc(50% - calc(10% + 20%));
    box-sizing: border-box;
    width: 60%;
    height: 3.6em;
    background-color: rgba(255, 255, 255, 0.6);
}

/* Taskbar - App */
.app {
    position: relative;
    box-sizing: border-box;
    height: 80%;
    aspect-ratio: 1 / 1;
    transition: .3s;
}

.app:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Topbar */

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    height: 1.2em;
    background-color: rgba(255, 255, 255, .6);
}

/* Topbar - Logo */
.top-bar .logo {
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: .9em;
}

/* Topbar - Menu */
.top-bar .menu {
    box-sizing: border-box;
    height: 100%;
    width: calc(75% - 1.2em);
}

.top-bar .menu .menu-item {
    padding: 0 .3em;
    font-size: .9em;
    cursor: default;
    transition: .3s;
}

.top-bar .menu .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Topbar - Status */
.top-bar .stats {
    box-sizing: border-box;
    height: 100%;
    width: calc(25% - 1.2em);
}

.top-bar .stats .stats-item {
    font-size: .9em;
}

/* App-template */
.terminal-app,
.photo-booth-app,
.clock-app,
.files-app,
.calculator-app,
.settings-app {
    top: 10%;
    left: calc(50% - 25%);
    display: none;
    box-sizing: border-box;
    min-width: 35%;
    min-height: 30%;
    width: 45%;
    height: 50%;
    background-color: #171717;
    z-index: 9;
    overflow: hidden;
}

/* App Top - Template */
.app-top {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 1.6em;
    background-color: #e2e2e2;
}

.app-top .app-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .35em;
    box-sizing: border-box;
    width: calc(1.65em * 3);
    height: 100%;
}

.app-buttons .close-button,
.app-buttons .fullscreen-button,
.app-buttons .minimize-button {
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.app-buttons .close-button {
    background-color: #fc4250;
}

.app-buttons .fullscreen-button {
    background-color: #ffc300;
}

.app-buttons .minimize-button {
    background-color: #00e036;
}

.app-top .app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 4.8em);
    height: 100%;
    font-size: .85em;
    cursor: grab;
}

/* Clock - Content */
.clock-app .clock-content {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: calc(100% - 1.8em) !important;
    width: 100%;
    font-family: DSDigital;
    color: white;
    white-space: nowrap;
    overflow: auto hidden;
}

.clock-app .clock-content #clock-time {
    font-size: 5em;
}

/* Terminal - Content */
.terminal-app .terminal-content {
    box-sizing: border-box;
    height: calc(100% - 1.8em) !important;
    width: 100%;
}

/* Photobooth - Content */
.photo-booth-app .photo-booth-content {
    box-sizing: border-box;
    height: calc(100% - 1.8em) !important;
    width: 100%;
}

.photo-booth-content .webcam-spot {
    box-sizing: border-box;
    height: calc(90% - .2em);
    width: 100%;
}

.photo-booth-content .webcam-control {
    position: relative;
    box-sizing: border-box;
    height: calc(10%);
    width: 100%;
    background-color: #e2e2e2;
}

.photo-booth-content .webcam-control .capture-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    box-sizing: border-box;
    height: 110%;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    border-radius: 50%;
    border: 0;
    font-size: 1.2em;
}

/* Calculator - Content */
#calculator {
    display: block;
}

.calculator-app .calculator-content {
    box-sizing: border-box;
    height: calc(100% - 1.8em) !important;
    width: 100%;
}

.calculator-content .result-monitor {
    box-sizing: border-box;
    height: 30%;
    width: 100%;
    padding: 3%;
    font-family: DSDigital;
    font-size: 2em;
    color: white;
}

.calculator-content .control-section {
    box-sizing: border-box;
    height: calc(70% + .2em);
    width: 100%;
    background-color: whitesmoke;
}

.calculator-content .control-section .number-section {
    box-sizing: border-box;
    height: 100%;
    width: 75%;
}

.number-section .calculator-button {
    box-sizing: border-box;
    height: 25%;
    width: 33.33%;
    font-size: 1.2em;
    cursor: pointer;
}

.number-section .calculator-button.button-zero {
    width: 99.999%;
}

.calculator-content .control-section .operation-section {
    box-sizing: border-box;
    width: 25%;
    background-color: #ffaf02;
    cursor: pointer;
}

.operation-section .operator-button {
    box-sizing: border-box;
    height: 30%;
    width: 45%;
}

.operation-section .operator-button.operator-equal {
    width: 90%;
}