.content {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url("./Image/background.jpg");
    background-size: cover;
    background-color: royalblue;
}

.taskbar {
    bottom: 10px;
    left: calc(50% - calc(10% + 20%));
    box-sizing: border-box;
    width: 60%;
    height: 3.6em;
    background-color: rgba(255, 255, 255, 0.6);
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    height: 1.2em;
    background-color: rgba(255, 255, 255, .6);
}

.top-bar .logo {
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: .9em;
}

.top-bar .menu {
    box-sizing: border-box;
    height: 100%;
    width: calc(75% - 1.2em);
}

.top-bar .menu .menu-item {
    padding: 0 .3em;
    font-size: .9em;
    cursor: default;
    transition: .3s;
}

.top-bar .menu .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.top-bar .stats {
    box-sizing: border-box;
    height: 100%;
    width: calc(25% - 1.2em);
}

.top-bar .stats .stats-item {
    font-size: .9em;
}

.app {
    position: relative;
    box-sizing: border-box;
    height: 80%;
    aspect-ratio: 1 / 1;
    transition: .3s;
}

.app:hover {
    background-color: rgba(0, 0, 0, 0.8);
}